
env.py
Scratch1.ipynb
__pycache__/prepare1.cpython-39.pyc
__pycache__/acquire1.cpython-39.pyc
__pycache__/env.cpython-39.pyc
__pycache__/explore1.cpython-39.pyc
my_telco_train_data.csv
visualization1.ipynb
